
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.1rem;
}.exercise-KhH {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.exercise-KhH .auto-group-qaws-SX1 {
  width: 100%;
  height: 299rem;
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD {
  width: 144.0484rem;
  height: 86.45rem;
  position: absolute;
  left: 0;
  top: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .section-image-VEP {
  width: 124rem;
  height: 69.75rem;
  position: absolute;
  left: 10rem;
  top: 16.7rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .divtp-widget-container-CPh {
  box-sizing: border-box;
  padding-left: 3.1rem;
  width: 30rem;
  height: 6.8rem;
  position: absolute;
  left: 2.5rem;
  top: 77rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 5rem;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .divtp-widget-container-CPh .rectangle-814-tnK {
  margin: 1.5rem 1.5rem 0rem 0rem;
  width: 3.6rem;
  height: 3.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .divtp-widget-container-CPh .auto-group-tszy-Pj5 {
  margin: 1rem 0rem 1.95rem 0rem;
  width: 20.6rem;
  height: calc(100% - 2.95rem);
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .divtp-widget-container-CPh .auto-group-tszy-Pj5 .divtp-title-7f5 {
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  width: 100%;
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2857142857;
  color: #41495b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .divtp-widget-container-CPh .auto-group-tszy-Pj5 .join-now-to-get-20-instant-discount-aYf {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8993aa;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .divtp-widget-container-CPh .auto-group-2qk1-VvX {
  width: 1.5rem;
  height: 0.9944rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F {
  box-sizing: border-box;
  padding: 2.4rem 4rem 2.4rem 65.9rem;
  width: 144rem;
  height: 8.6rem;
  position: absolute;
  left: 0.0484rem;
  top: 6.0422rem;
  background-color: #051241;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .auto-group-pqcx-4cF {
  box-sizing: border-box;
  padding: 0.8rem 1.848rem 1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .auto-group-pqcx-4cF .navigation-link-home-aKh {
  margin: 0.2rem 2.4rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fcf8ed;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .auto-group-pqcx-4cF .navigation-link-glasfaser-51Z {
  margin: 0.2rem 3rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fcf8ed;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .auto-group-pqcx-4cF .navigation-link-aiassistant-NmM {
  margin: 0rem 4.8rem 0.2rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fcf8ed;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .auto-group-pqcx-4cF .navigation-link-aiassistant-tUo {
  margin: 0rem 5.752rem 0.2rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fcf8ed;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .auto-group-pqcx-4cF .navigation-link-about-obm {
  margin-top: 0.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #fcf8ed;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .navigation-link-uuh {
  box-sizing: border-box;
  padding: 1.1rem 1.5rem 0.9rem 1.65rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #2d2d44;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .navigation-link-uuh .octicon-person-24-qoM {
  margin: 0rem 1.05rem 0.199rem 0rem;
  width: 1.4994rem;
  height: 1.5847rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .banner-C4F .divcontent-container-Jd5 .navigation-link-uuh .login-N2b {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #f5f5f5;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-ggkh-9wD .rectangle-809-sk3 {
  width: 21.7rem;
  height: 20.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs {
  width: 39.45rem;
  height: 1.9rem;
  position: absolute;
  left: 52.15rem;
  top: 92.05rem;
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .section-list-item-link-home-8vs {
  margin: 0rem 0.95rem 0.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1000000238;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .ooui-next-ltr-q4b {
  margin: 0rem 1.52rem 0.05rem 0rem;
  width: 0.78rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .section-list-item-link-programs-wtK {
  margin: 0rem 1.2rem 0.1rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1000000238;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .ooui-next-ltr-SKH {
  margin: 0rem 1.12rem 0.05rem 0rem;
  width: 0.78rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .section-list-item-boxing-classes-Mx3 {
  margin: 0.1rem 1.4rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1000000238;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .ooui-next-ltr-4bZ {
  margin: 0rem 1.12rem 0.05rem 0rem;
  width: 0.78rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .group-91-Qzs .section-list-item-boxing-classes-zEK {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1000000238;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .section-Jko {
  width: 74.4rem;
  height: 10.3759rem;
  position: absolute;
  left: 34.86rem;
  top: 96.3422rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exercise-KhH .auto-group-qaws-SX1 .section-Jko .heading-1-boxing-classes-e3y {
  margin: 0rem 0.12rem 0.776rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.0725000381;
  color: #23346f;
  font-family: Crimson Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .section-Jko .the-barbell-curl-is-a-classic-and-effective-bicep-exercise-that-targets-the-muscles-in-the-front-of-your-upper-arms-specifically-the-biceps-brachii-LSb {
  max-width: 74.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4666666455;
  color: #13436e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf {
  width: 114.3rem;
  height: 40rem;
  position: absolute;
  left: 14.3rem;
  top: 111.3422rem;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-heading-3-burn-more-calories-v9u {
  width: 18.9rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 1.6578rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #0f0d80;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-boxing-engages-all-your-muscle-R6f {
  width: 25.3rem;
  height: 8.8rem;
  position: absolute;
  left: 0;
  top: 4.8848rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-heading-3-improve-your-coordination-7kB {
  width: 29.9rem;
  height: 2.1rem;
  position: absolute;
  left: 83.3rem;
  top: 2.4578rem;
  text-align: right;
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-learn-to-move-your-hands-and-feet-14s {
  width: 29.2rem;
  height: 11rem;
  position: absolute;
  left: 84rem;
  top: 6.0078rem;
  text-align: right;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-heading-3-strengthen-your-body-K5Z {
  width: 19.2rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 18.4348rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-while-also-getting-your-heart-rate-up-DRq {
  width: 27.7rem;
  height: 8.8rem;
  position: absolute;
  left: 0;
  top: 22.7738rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-iNb {
  width: 44.142rem;
  height: 7.644rem;
  position: absolute;
  left: 0;
  top: 21.0578rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .indicator-leftsvg-qy1 {
  width: 35.8rem;
  height: 6.1rem;
  position: absolute;
  left: 0.0484rem;
  top: 4.2rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-heading-3-relieve-your-stress-Ni3 {
  width: 21.9rem;
  height: 2.1rem;
  position: absolute;
  left: 91.3rem;
  top: 18.4578rem;
  text-align: right;
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .section-much-like-a-runners-high-boxing-fh9 {
  width: 30.7rem;
  height: 13.2rem;
  position: absolute;
  left: 83.2rem;
  top: 21.8078rem;
  text-align: right;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .indicator-rightsvg-xgF {
  width: 38.2rem;
  height: 6rem;
  position: absolute;
  left: 76.1rem;
  top: 21.0578rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .indicator-rightsvg-fill-h83 {
  width: 41.3rem;
  height: 8.4rem;
  position: absolute;
  left: 73rem;
  top: 4.2578rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .ellipse-1-DMH {
  width: 40rem;
  height: 40rem;
  position: absolute;
  left: 35.2484rem;
  top: 0;
  background-color: rgba(25, 47, 126, 0.8199999928);
  border-radius: 20rem;
}
.exercise-KhH .auto-group-qaws-SX1 .auto-group-bzzx-Pvf .rectangle-810-8z3 {
  width: 45.3rem;
  height: 36.6rem;
  position: absolute;
  left: 33.5rem;
  top: 3.0578rem;
  object-fit: cover;
  vertical-align: top;
}
.exercise-KhH .auto-group-qaws-SX1 .section-4sh {
  width: 71.5484rem;
  height: 17.142rem;
  position: absolute;
  left: 33.8rem;
  top: 154.85rem;
}
.exercise-KhH .auto-group-qaws-SX1 .section-4sh .heading-2-about-the-class-CU7 {
  margin-bottom: 3.442rem;
  display: flex;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.1000000147;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .section-4sh .the-barbell-curl-is-a-classic-and-effective-bicep-exercise-that-targets-the-muscles-in-the-front-of-your-upper-arms-specifically-the-biceps-brachii-barbell-curls-into-your-workout-routine-can-help-develop-and-strengthen-your-biceps-contributing-to-overall-arm-strength-and-aesthetics-ixF {
  margin-left: 0.0484rem;
  max-width: 71.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.35;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-Xeo {
  width: 14.3rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 179.35rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-QyV {
  width: 21.4rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 188.75rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-iDV {
  width: 17.2rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 198.15rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-2EB {
  width: 11.2rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 207.55rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-8HD {
  width: 16.5rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 216.95rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-Soh {
  width: 23.2rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 226.35rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-NBZ {
  width: 26.8rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 235.75rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .heading-2-about-the-class-VX5 {
  width: 5.6rem;
  height: 2.9rem;
  position: absolute;
  left: 33.7rem;
  top: 279.45rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1916666826;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .biceps-brachii-and-forearm-muscles-DCB {
  width: 36.7rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 183.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .beginner-friendly-7HZ {
  width: 17.9rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 192.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .item-3-dWo {
  width: 1.2rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 202rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .minutes-9zw {
  width: 11.6rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 211.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .cal-UGX {
  width: 6.8rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 220.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .barbell-bM9 {
  width: 7rem;
  height: 2.9rem;
  position: absolute;
  left: 33.8rem;
  top: 230.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-qaws-SX1 .stand-up-straight-with-your-feet-shoulder-width-apart-hold-a-barbell-with-a-shoulder-width-grip-palms-facing-forward-an-underhand-grip-your-hands-should-be-positioned-slightly-wider-than-your-shoulders-keep-your-wrists-straight-and-aligned-with-your-forearms-maintain-a-straight-back-chest-up-and-shoulders-back-while-keeping-your-upper-arms-stationary-exhale-and-curl-the-barbell-towards-your-shoulders-by-flexing-your-elbows-focus-on-contracting-your-biceps-throughout-the-movement-inhale-and-slowly-lower-the-barbell-back-to-the-starting-position-with-controlled-movement-maintain-tension-on-the-biceps-during-the-descent-do-not-let-the-weight-drop-repeat-the-movement-for-the-desired-number-of-repetitions-exhale-during-the-lifting-concentric-phase-and-inhale-during-the-lowering-eccentric-phase-Wyu {
  width: 93.4rem;
  height: 34.4rem;
  position: absolute;
  left: 32.8rem;
  top: 241rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-qaws-SX1 .avoid-using-momentum-by-keeping-your-body-still-focus-on-isolating-the-biceps-use-a-weight-that-allows-you-to-maintain-proper-form-and-control-throughout-the-exercise-ensure-a-full-range-of-motion-allowing-your-arms-to-fully-extend-at-the-bottom-and-flex-at-the-top-L5m {
  width: 92.3rem;
  height: 11.5rem;
  position: absolute;
  left: 32.4rem;
  top: 283.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4300000191;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq {
  width: 100%;
  height: 175.2rem;
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j {
  width: 144.0998rem;
  height: 170.6rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF {
  box-sizing: border-box;
  padding-top: 5.4rem;
  width: 143.9014rem;
  height: 37.5rem;
  position: absolute;
  left: 0.1984rem;
  top: 0;
  overflow: hidden;
  background-color: #04243f;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV {
  margin: 0rem 0rem 3.3rem 2.8rem;
  width: 84.2rem;
  height: 12.4rem;
  position: relative;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .divbackstretch-item-4ZV {
  width: 84.2rem;
  height: 9.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .heading-3-soulcycle-on-the-go-QNT {
  width: 71.6rem;
  height: 11.1rem;
  position: absolute;
  left: 5rem;
  top: 1.3rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .heading-3-soulcycle-on-the-go-QNT .heading-3-soulcycle-on-the-go-QNT-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2998046875;
  color: #ffffff;
  font-family: Crimson Text, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .heading-3-soulcycle-on-the-go-QNT .heading-3-soulcycle-on-the-go-QNT-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2998046875;
  color: #ffffff;
  font-family: Crimson Text, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .heading-3-soulcycle-on-the-go-QNT .heading-3-soulcycle-on-the-go-QNT-sub-2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Crimson Text, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .heading-3-soulcycle-on-the-go-QNT .heading-3-soulcycle-on-the-go-QNT-sub-3 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Crimson Text, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-3k7h-LdV .heading-3-soulcycle-on-the-go-QNT .heading-3-soulcycle-on-the-go-QNT-sub-4 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Crimson Text, 'Source Sans Pro';
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-yhyk-bdH {
  margin: 0rem 99.035rem 6.325rem 7.8rem;
  width: calc(100% - 106.8354rem);
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-yhyk-bdH .link-appstoresvg-ixo {
  margin-right: 4.6rem;
  width: 16.2rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .auto-group-yhyk-bdH .link-googleplaysvg-rZD {
  width: 16.266rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-pQF .divshape-oDZ {
  width: 144.1rem;
  height: 5.375rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-jsu {
  width: 90.1rem;
  height: 16.4551rem;
  position: absolute;
  left: 26.6703rem;
  top: 42.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-jsu .heading-2-cant-go-to-a-curves-club-try-mycurves-on-demand-for-Uab {
  margin-bottom: 1.4551rem;
  max-width: 90.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.05;
  color: #233470;
  font-family: Crimson Text, 'Source Sans Pro';
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-jsu .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-facilisi-in-hac-habitasse-platea-dictumst-vivamus-eget-fermentum-augue-integer-congue-libero-nec-congue-fermentum-neque-turpis-eleifend-libero-sit-amet-dictum-dolor-felis-quis-quam-sed-tincidunt-k2K {
  margin-left: 0.2181rem;
  max-width: 72.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #34343c;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .section-heading-2-discover-the-other-classes-at-curves-A63 {
  width: 49.5rem;
  height: 2.9rem;
  position: absolute;
  left: 47.2999rem;
  top: 67.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.8937500119;
  color: #233470;
  font-family: Crimson Text, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-a4rj-2e3 {
  width: 108.5684rem;
  height: 12.9rem;
  position: absolute;
  left: 17.9148rem;
  top: 106rem;
  display: flex;
  align-items: flex-end;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-a4rj-2e3 .section-article-high-intensity-cardio-classes-that-Lud {
  margin-right: 5.3406rem;
  max-width: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #2c435f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-a4rj-2e3 .section-article-high-intensity-cardio-classes-that-F11 {
  margin-right: 7.2277rem;
  max-width: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #2c435f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-a4rj-2e3 .section-article-high-intensity-cardio-classes-that-xAK {
  margin-bottom: 0.9rem;
  max-width: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #2c435f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P {
  width: 88.3359rem;
  height: 2.2441rem;
  position: absolute;
  left: 27.9205rem;
  top: 120.6559rem;
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-4-nf9 {
  margin: 0rem 29.306rem 0.044rem 0rem;
  width: 10.2484rem;
  height: calc(100% - 0.0441rem);
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-4-nf9 .section-article-read-more--7hR {
  width: 8.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #233470;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-4-nf9 .section-article-2Jb {
  width: 0.785rem;
  height: 1.3526rem;
  position: absolute;
  left: 8.9065rem;
  top: 0.423rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-4-nf9 .section-article-xT9 {
  width: 10.1923rem;
  height: 0.1rem;
  position: absolute;
  left: 0.0561rem;
  top: 2.1rem;
  background-color: #233470;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-5-VCB {
  margin: 0.044rem 28.284rem 0rem 0rem;
  width: 10.2484rem;
  height: calc(100% - 0.0441rem);
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-5-VCB .section-article-read-more--oyZ {
  width: 8.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #233470;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-5-VCB .section-article-7UT {
  width: 0.785rem;
  height: 1.3526rem;
  position: absolute;
  left: 8.9065rem;
  top: 0.423rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-5-VCB .section-article-eUP {
  width: 10.1923rem;
  height: 0.1rem;
  position: absolute;
  left: 0.0561rem;
  top: 2.1rem;
  background-color: #233470;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-6-NfH {
  margin-top: 0.0441rem;
  width: 10.2484rem;
  height: calc(100% - 0.0441rem);
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-6-NfH .section-article-read-more--WmV {
  width: 8.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #233470;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-6-NfH .section-article-2E3 {
  width: 0.785rem;
  height: 1.3526rem;
  position: absolute;
  left: 8.9065rem;
  top: 0.423rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-lngw-s2P .group-6-NfH .section-article-MXD {
  width: 10.1923rem;
  height: 0.1rem;
  position: absolute;
  left: 0.0561rem;
  top: 2.1rem;
  background-color: #233470;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-wafz-Ubq {
  width: 86.9717rem;
  height: 2.1281rem;
  position: absolute;
  left: 27.3367rem;
  top: 103.0719rem;
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-wafz-Ubq .section-article-heading-3-cardio-classes-1Ls {
  margin: 0rem 22.58rem 0.028rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-wafz-Ubq .section-article-heading-3-body-basics-classes-hUb {
  margin: 0.028rem 24.292rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-wafz-Ubq .section-article-heading-3-balance-classes-zib {
  margin-top: 0.0281rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0999999799;
  color: #100d81;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 {
  width: 101.1976rem;
  height: 27.1rem;
  position: absolute;
  left: 19.7629rem;
  top: 74.9rem;
  display: flex;
  align-items: flex-start;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-7-dFm {
  margin: 0.6rem 6.509rem 1.5rem 0rem;
  box-sizing: border-box;
  padding: 1.6rem 2.191rem 1.7rem 2.137rem;
  height: calc(100% - 2.1rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-QkF.png');
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-7-dFm .rectangle-813-Jco {
  width: 20.5rem;
  height: 21.7rem;
  object-fit: cover;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-8-DUs {
  margin: 0.8rem 11.9rem 0rem 0rem;
  width: 33.1rem;
  height: 26.3rem;
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-8-DUs .ellipse-2-jTD {
  width: 24.8277rem;
  height: 25rem;
  position: absolute;
  left: 7.1953rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-8-DUs .rectangle-813-U9u {
  width: 33.1rem;
  height: 24.9rem;
  position: absolute;
  left: 0;
  top: 1.4rem;
  object-fit: cover;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-9-CLo {
  width: 24.8605rem;
  height: 25.8rem;
  position: relative;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-9-CLo .ellipse-2-YfZ {
  width: 24.8277rem;
  height: 25rem;
  position: absolute;
  left: 0.0328rem;
  top: 0.8rem;
  object-fit: contain;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .auto-group-whhz-hd1 .group-9-CLo .rectangle-813-tUX {
  width: 22.3rem;
  height: 21.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT {
  box-sizing: border-box;
  padding: 5.6rem 12rem 11.1rem 12rem;
  width: 144rem;
  height: 40.6rem;
  position: absolute;
  left: 0;
  top: 130rem;
  background-color: #04243f;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-1dyh-ueX {
  margin: 0rem 95rem 1.6rem 0rem;
  width: calc(100% - 95rem);
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-1dyh-ueX .heading-4-company-qYB {
  margin-right: 11.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  color: #91acc4;
  font-family: Crimson Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-1dyh-ueX .heading-4-help-jNf {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  color: #91acc4;
  font-family: Crimson Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-nmkd-Fbu {
  margin: 0rem 97.1rem 1.6rem 0rem;
  width: calc(100% - 97.1rem);
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-nmkd-Fbu .list-item-link-our-story-PCK {
  margin-right: 14.9rem;
  display: flex;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4222222222;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-nmkd-Fbu .list-item-link-faq-66j {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-owgo-omq {
  margin: 0rem 88.1rem 1.6rem 0rem;
  width: calc(100% - 88.1rem);
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-owgo-omq .list-item-link-careers-wt3 {
  margin-right: 15.8rem;
  display: flex;
  font-size: 1.1438rem;
  font-weight: 400;
  line-height: 1.3989071038;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-owgo-omq .list-item-link-terms-conditions-4By {
  display: flex;
  font-size: 1.1438rem;
  font-weight: 400;
  line-height: 1.3989071038;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 9.1rem;
  display: flex;
  align-items: center;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw {
  box-sizing: border-box;
  padding-right: 5.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .auto-group-5j9z-UFh {
  margin-right: 16.9rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .auto-group-5j9z-UFh .list-item-link-philanthropy-paT {
  margin-bottom: 1.6rem;
  display: flex;
  font-size: 1.1438rem;
  font-weight: 400;
  line-height: 1.3989071038;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .auto-group-5j9z-UFh .list-item-link-philanthropy-jhR {
  display: flex;
  font-size: 1.1438rem;
  font-weight: 400;
  line-height: 1.3989071038;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .auto-group-pfou-T7d {
  margin-right: 37.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .auto-group-pfou-T7d .list-item-link-privacy-policy-uVR {
  margin-bottom: 1.6rem;
  display: flex;
  font-size: 1.1438rem;
  font-weight: 400;
  line-height: 1.3989071038;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .auto-group-pfou-T7d .list-item-link-contact-us-DW7 {
  display: flex;
  font-size: 1.1438rem;
  font-weight: 400;
  line-height: 1.3989071038;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .divfooterfollowcontent-mspt9q-8-wS7 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .divfooterfollowcontent-mspt9q-8-wS7 .social-media-ts9 {
  margin-bottom: 1.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.75;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  color: #91acc4;
  font-family: Crimson Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .divfooterfollowcontent-mspt9q-8-wS7 .auto-group-3kty-DuR {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .divfooterfollowcontent-mspt9q-8-wS7 .auto-group-3kty-DuR .clip-path-group-BLT {
  margin-right: 0.9rem;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .divfooterfollowcontent-mspt9q-8-wS7 .auto-group-3kty-DuR .auto-group-w5m9-KSf {
  margin-right: 1.1rem;
  width: 5.9rem;
  height: 2.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-uve3-7vw .divfooterfollowcontent-mspt9q-8-wS7 .auto-group-3kty-DuR .path-2520-Fr7 {
  margin-bottom: 0.1rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-pqmv-CFZ {
  width: 34.8rem;
  height: 100%;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-pqmv-CFZ .stay-updated-with-us-MPM {
  margin-bottom: 2.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.75;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  color: #91acc4;
  font-family: Crimson Text, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-pqmv-CFZ .input-email-GWK {
  box-sizing: border-box;
  padding: 1.1rem 2.2rem 1rem 2.1rem;
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-pqmv-CFZ .input-email-GWK .label-b2o {
  margin: 0.45rem 13.1rem 0.5rem 0rem;
  height: calc(100% - 0.95rem);
  display: flex;
  font-size: 1.4625rem;
  font-weight: 500;
  line-height: 1.641025641;
  letter-spacing: 0.05rem;
  color: #75787b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .auto-group-u1jm-NiT .auto-group-pqmv-CFZ .input-email-GWK .button-submit-5if {
  width: 3.2rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exercise-KhH .auto-group-jylf-YBq .group-7-h4j .divfooterfootercontainer-sc-1eloju9-1-RUT .copyright-2023-fitsnap-bh1 {
  margin-left: 85.2rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.exercise-KhH .auto-group-jylf-YBq .rectangle-817-79Z {
  width: 26.8rem;
  height: 48.3rem;
  position: absolute;
  left: 87.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.exercise-KhH .auto-group-jylf-YBq .rectangle-818-EV5 {
  width: 26.8rem;
  height: 48.3rem;
  position: relative;
  left: 113.2rem;
  top: 3.9rem;
  background-size: 180.224% 100%;
  background-position: -9.9295rem -0.0912rem;
  background-image: url('../assets/rectangle-818.png');
}
